---
import ProjectItem from "./ProjectItem.astro";
---

<aside class="flex flex-col items-center justify-evenly gap-10 bg-white mt-20 h-auto w-full min-w-1 max-w-6xl">

    <div class="flex items-center justify-evenly">
        <h2 class="font-bold text-4xl" id="projects">Projects</h2>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-5 items-center justify-center">

       <ProjectItem url="/ahorcado.png" urlIcon="#" tags={[

        { name: "Html",
       color: "bg-red-500" },

       { name: "Css",
       color: "bg-blue-400" },
   
       { name: "Js",
       color: "bg-yellow-500" },

       { name: "Php",
       color: "bg-purple-400" },
       ]} />

<ProjectItem url="/ahorcado.png" urlIcon="#" tags={[

    { name: "Html",
   color: "bg-red-500" },

   { name: "Css",
   color: "bg-blue-400" },

   { name: "Js",
   color: "bg-yellow-500" },

   { name: "Php",
   color: "bg-purple-400" },
   ]} />


<ProjectItem url="/ahorcado.png" urlIcon="#" tags={[

    { name: "Html",
   color: "bg-red-500" },

   { name: "Css",
   color: "bg-blue-400" },

   { name: "Js",
   color: "bg-yellow-500" },

   { name: "Php",
   color: "bg-purple-400" },
   ]} />


<ProjectItem url="/ahorcado.png" urlIcon="#" tags={[

    { name: "Html",
   color: "bg-red-500" },

   { name: "Css",
   color: "bg-blue-400" },

   { name: "Js",
   color: "bg-yellow-500" },

   { name: "Php",
   color: "bg-purple-400" },
   ]} />
       
        
    </div>
    

    

</aside>